@model RightRecruit.Web.Models.AgencyDto
@{
    ViewBag.Title = "Sign up";
    Layout = "~/Views/Shared/_SignupLayout.cshtml";
    ViewContext.FormContext = new System.Web.Mvc.FormContext();
    Cassette.Views.Bundles.Reference("Scripts/Signup/signup.js");
}
<div class="outerCover">
        <div class="headerLabel">Create your RightRecruit Account</div>
            
        <form data-bind="submit: Signup" method="post">
                <div class="fieldLabel"><label>COMPANY NAME:</label><em>*</em></div>
                <div class="fieldInput"><input id="companyName" data-bind="value: CompanyName" type="text" required placeholder="Company Name" /></div>
            
                <div class="fieldLabel"><label>ADMIN ID:</label><em>*</em></div>
                <div class="fieldInput"><input id="adminId" data-bind="value: AdminId" type="text" required placeholder="adm-#####"/></div>
                
                <div class="fieldLabel"><label>WEBSITE:</label><em>*</em></div>
                <div class="fieldInput"><input id="website" data-bind="value: Website" type="url" required placeholder="http://www.mycompany.com"/></div>
            
                <div class="fieldLabel"><label>EMAIL:</label><em>*</em></div>
                <div class="fieldInput"><input id="email" data-bind="value: Email" type="email" required placeholder="myname@mycompany.com"/></div>
            
                <div class="fieldLabel"><label>PHONE:</label><em>*</em></div>
                <div class="fieldInput"><input id="phone" data-bind="value: Phone" type="tel" required placeholder="+91#########"/></div>
            
                <div class="fieldLabel regular"><input id="signup" type="submit" value="Create Account"/></div>
        </form>
    </div>
