@{
    ViewBag.Title = "Recruiters";
    Cassette.Views.Bundles.Reference("Scripts/admin");    
}
<form data-bind="submit: proceed" method="post">
<div class="outerRing">
    <table>
        <tr>
            <td>
                <select data-bind="options: plans, value: plan, optionsText: 'Name', optionsValue: 'Value'">
                </select>
            </td>
            <td>
                <select data-bind="options: endDates, value: endDate, optionsText: 'Text', optionsValue: 'EndDate', visible: showEndDates">
                </select>
            </td>
            <td style="padding: 10px 0px 0px 4px;">
                <button id="add">
                    Add Recruiter</button>
            </td>
        </tr>
    </table>
    <table>
        <tbody data-bind="foreach: recruiters">
            <tr>
                <td style="width: 20px; padding: 10px 0px 0px 4px;">
                    <button class="delete" data-bind="click: $parent.removeRecruiter" />
                </td>
                <td style="width: 350px;">
                    <div class="fieldInputSmall">
                        <input class="name" required placeholder="Recruiter name" type="text" data-bind="value: name" />
                    </div>
                </td>
                <td style="width: 350px;">
                    <div class="fieldInputSmall">
                        <input class="email" type="email" required placeholder="Recruiter email" data-bind="value: email" />
                    </div>
                </td>
                <td>
                    <select class="role" data-bind="options: $parent.roles, value: role, optionsText: 'Name', optionsValue: 'Name'">
                    </select>
                </td>
                <td>
                    <select class="plan" data-bind="options: $parent.products, value: product, optionsText: 'Name', optionsValue: 'Name'">
                    </select>
                </td>
                <td style="padding: 8px 0px 0px 10px;">
                    <span class="cost">INR </span><span class="cost" data-bind="text: cost"></span>
                </td>
            </tr>
        </tbody>
    </table>
    <table>
        <tr>
            <td>
                <div class="fieldLabel">
                    Total</div>
            </td>
            <td>
                <div class="fieldLabel">
                    INR <span data-bind="text: grandTotal"></span>
                </div>
            </td>
            <td style="padding: 10px 0px 0px 4px;">
                <input id="proceed" type="submit" value="Proceed"/>
            </td>
        </tr>
    </table>
</div>
</form>
