@{
    ViewBag.Title = "NewClient";
}

<table class="newclienttable">
    <tr>
        <td>
            <label class="fieldName">Company Name<em>*</em></label>
            <input id="companyName" style="width: 500px" required type="text" />
        </td>

    </tr>
</table>
<script src="@Url.Content("~/Scripts/client/newclient.js")" type="text/javascript"></script>
