@charset "utf-8";

@font-face
{
    font-family: CandelaBold;
    src: url(../fonts/CandelaBold-webfont.woff);
}
@font-face
{
    font-family: CandelaBook;
    src: url(../fonts/CandelaBook-webfont.woff);
}

body 
{
    font-family: CandelaBook;
    font-size: .85em;
    color: #232323;
    background-color: #fff;
    margin: 0px;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

.main 
{
    height: 50px;
    background-color: #00b4ff;
}

.title
{
    color: #ffffff;
    font-size: 12px;
    font-family: CandelaBold;
    text-align: center;
    vertical-align: middle;
    padding-top: 3px;
    margin-left: 8px;
}

.left 
{
    float: left;
}

.right
{
    float: right;
    margin: 8px;
    padding-top: 10px;
}

.pricingTitle
{
    height: 120px;
    background: #515151;
    color: #ffffff;
    font-size: 36px;
    font-family: CandelaBold;
    text-align: left;
    vertical-align: middle;
    padding-top: 10px;
    left:50px;
}

.pageHeader {
	height: 50px;
}

.outer {
	width:600px;
	height: 500px;
	margin-top: -10px;
	margin-bottom: 10px;
	-webkit-border-radius: 8px;
    border-radius: 8px;
    border: 2px solid #e7e7e7;
	display: block;
	background: white;
	text-align: center;
	position:absolute;left:12%;top:22%;
}

.outerCover {
	width:500px;
	margin-top: 8%;
    border: 1px solid #e7e7e7;
	display: block;
	background: #F2F4F6;
	text-align: center;
	position:relative;
	left:25%;
	top:22%;
	-webkit-box-shadow: 0 5px 5px rgba(0,0,0, 0.2);   
	  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.box 
	{
	  position: relative;
	  width: 240px;
	  height: 403px;
	  border: 1px solid #ddd;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
	  color: rgba(0,0,0, .8);
	  margin: 40px auto;
	  z-index: 5; 
	  bottom: 5px;
	  left: 10px;
	  max-width:300px;
	  top: 2%;
	  -webkit-box-shadow: 0 5px 10px rgba(0,0,0, 0.7);   
	  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
	  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
	}

.basic
{
    position:absolute;
    left:2%;
}

.intermediate
{
    position:absolute;
    left:35%;
}

.pro
{
    position:absolute;
    left:68%;
}

.priceTitle
{
    text-align: center;
    height: 40px;
    font-family: CandelaBold;
    font-size: 30px;
}

.pricingContent {
	height:270px;
}

.signupSection {
	vertical-align:bottom;
	margin: 0px;
	height: 50px;
}

/**** SIGNUP BUTTONS ****/
.signup a{
  font-family: Arial;
  cursor:pointer;
  color: #ffffff;
  font-size: 24px;
  padding: 10px;
  width: 218px;
  position: relative;
  bottom: 2px;
	  left: -1px;
  text-decoration: none;
  -webkit-border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  
  display:inline-block; /* IE is so silly */
}

.iplan a
{
    border: solid #00b4ff 2px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#65d1fc), to(#00b4ff));
  background: -moz-linear-gradient(top, #65d1fc, #00b4ff);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#65d1fc, endColorStr=#00b4ff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#65d1fc, endColorStr=#00b4ff);
}

.iplan:hover a{
  background: #00b4ff;
}

.bplan a
{
  border: solid #c9c8c5 2px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#c9c8c5), to(#9c9b96));
  background: -moz-linear-gradient(top, #c9c8c5, #9c9b96);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#c9c8c5, endColorStr=#9c9b96);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#c9c8c5, endColorStr=#9c9b96);
}

.bplan:hover a{
  background: #9c9b96;
}

.pplan a{
	border: solid #EA2093 2px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#e869b3), to(#EA2093));
  background: -moz-linear-gradient(top, #e869b3, #EA2093);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#e869b3, endColorStr=#EA2093);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#e869b3, endColorStr=#EA2093);
}

.pplan:hover a{
  background: #EA2093;
}

/**** RIBBON ****/
/* ribbon style */

 .ribbon-wrapper {
	position: relative;
}
  .ribbon-front {
	height: 40px;
	width: 252px;
	position: relative;
	left:-6px;
	z-index: 2;
	text-align: center;
	vertical-align: middle;
	font-size: 24px;
	color: White;
	padding-top: 4px;
}

.ribbon-front-basic 
{
    background-color: #c9c8c5;
}

.ribbon-front-intermediate 
{
    background-color: #00b4ff;
}
.ribbon-front-pro 
{
    background-color: #EA2093;
}
  .ribbon-front,
  .ribbon-back-left,
  .ribbon-back-right
{
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright,
  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
	position: absolute;
	z-index: 1;
	border-style:solid;
	height:0px;
	width:0px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright {
}

  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
	top: 40px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-bottomleft {
	left: -6px;
	border-color: transparent #00B4FF transparent transparent;
}

  .ribbon-edge-topleft {
	top: 0px;
	border-width: 0px 5px 0 0;
}
  .ribbon-edge-bottomleft {
	border-width: 0 5px 5px 0;
}

  .ribbon-edge-topright,
  .ribbon-edge-bottomright {
	left: 241px;
	border-color: transparent transparent transparent #00B4FF;
}

  .ribbon-edge-topright {
	top: 0px;
	border-width: 0px 0 0 5px;
}
  .ribbon-edge-bottomright {
	border-width: 0 0 5px 5px;
}

  .ribbon-back-left {
	position: absolute;
	top: 5px;
	left: 0px;
	width: 0px;
	height: 40px;
		z-index: 0;
}

  .ribbon-back-right {
	position: absolute;
	top: 5px;
	right: 0px;
	width: 0px;
	height: 40px;
		z-index: 0;
}

.headerLabel
{
    position: relative;
    top: 2%;
    text-align:left;
    margin: 16px 16px 40px 16px;
    font-size: 20px;
    font-family: CandelaBold;
}

.fieldLabel
{
    position: relative;
    top: 100%;
    text-align:left;
    margin:16px 4px 2px 16px;
    font-size: 14px;
    font-family: CandelaBold;
}
.regular {
	font-size: 12px;
	margin:16px 4px 4px 16px;
}

.fieldLabelError
{
    position: relative;
    top: 100%;
    text-align:left;
    margin:2px 2px 2px 16px;
    font-size: 16px;
    font-family: CandelaBold;
}

.fieldInput input {
	-webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border: lightGray solid 1px;
  height: 30px;
  width: 90%;
  font-size: 16px;
  padding: 2px;
  font-family: CandelaBook;
  text-align: left;
  position: relative;
  display: block;
  left: 3%;
  margin: 2px 16px 2px 0px;
}

.input-validation-error
{
    border: 2px solid red;
}

.field-validation-error
{
    font-size:12px;
    margin-top: -5px;
}

input:focus
{
    border: #00b4ff solid 2px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    outline: none;
}

em 
{
    color: Red;
}


