@{
    Cassette.Views.Bundles.Reference("Scripts/libs");
    Cassette.Views.Bundles.Reference("Content");
    Cassette.Views.Bundles.Reference("Scripts/global");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Cassette.Views.Bundles.RenderStylesheets()
</head>
<body>
    @Cassette.Views.Bundles.RenderScripts()
    <div class="mainHeader">
        <a class="link" href="/rs/signup">Sign up</a>
    </div>
    <div id="menuDiv" class="menuBackground">
        <ul class="menuBase">
            <li class="menuItem"><a class="menuItemAnchor" href="#">Home</a></li>
            <li class="menuItem"><a class="menuItemAnchor" href="#">Clients</a></li>
            <li class="menuItem"><a class="menuItemAnchor" href="#">Candidates</a></li>
            <li class="menuItem"><a class="menuItemAnchor" href="#">Dashboard</a></li>
            <li class="menuItem"><a class="menuItemAnchor" href="#">Admin</a></li>
        </ul>
    </div>
    @RenderBody()
</body>
</html>
