<div>
    <div class="ui-widget-shadow ui-corner-all" style="width: 293px; height: 145px; position: absolute;
        left: 105px; top: 105px;">
    </div>
</div>
<div style="position: absolute; width: 280px; height: 130px; left: 100px; top: 100px;
    padding: 10px;" class="ui-widget ui-widget-content ui-corner-all">
    <div class="ui-dialog-content ui-widget-content" style="background: none; border: 0;">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</div>
